package %basepackage%.configuration;

import org.springframework.context.annotation.*;
import org.springframework.data.jpa.repository.config.EnableJpaRepositories;

@Configuration
@EnableJpaRepositories(basePackages="%basepackage%.data.repository")
public class ApplicationConfiguration
{
	/*@Bean
	public CustomValidator getCustomValidator()
	{
		return new CustomValidator();
	}*/
}
